#circuitBoardPane {
	-fx-background-color: #FFFFFF;
	-fx-background-radius :  20;
}

#editBar {
	-fx-background-color: #607D8B;
}

#description {
	-fx-background: #FFFFFF;
	-fx-background-radius: 3;
}

#parameters {
	-fx-background-color: #FFFFFF;
	-fx-padding: 5 5 5 5;
	-fx-background-radius: 3;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

#propertiesPane {
	-fx-background-radius : 10;
}

#contentPane {
	-fx-background-radius : 10;
	-fx-background-color : #FFFFFF;
}

*.tab-header-background {
	-fx-background-color: #607D8B;
}

.tabStyle {
	-fx-background-color: #607D8B;
	-fx-border-radius: 5 5 0 0;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #FFFFFF;
	-fx-focus-color: #FFFFFF00;
}

.tabStyle:selected {
	-fx-border-radius: 5 5 0 0;
	-fx-border-width: 1 1 0 1;
	-fx-border-color: #FFFFFF;
	-fx-focus-color: #FFFFFF00;
}

.tab-label {
	-fx-text-fill: #FFFFFF;
}

.tab-content-area {
	-fx-border-radius: 0;
}

.propertiesTab1{
	/*-fx-background-radius :  10 0 0 10;*/
	-fx-background-color: #607D8B;
}

.propertiesTab2{
	/*-fx-background-radius :  0 10 10 0;*/
	-fx-background-color: #607D8B;
}


SplitPane {
	-fx-background-color: #607D8B;
}
